div {
  margin: 20px;
}

.card {
  border-radius: 25px;
  background: #e83845;
  padding: 20px;
  width: 400px;
  height:250px;
  color: #ffffff;
  font-weight: bold;
  font-size: 12px;
  margin-right: 100px;
}

.balance {
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
}

.balanceNumber {
  color: #ffffff;
  font-weight: bold;
  font-size: 50px;
}

button {
  background-color: #ffffff;
  border: none;
  color: #1e90ff;
  font-weight: bold;
  padding-left: 62px;
  padding-right: 62px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 25px;
  font-size: 17px;
}

.sideInfo {
  margin-right: 100px;
}

.sideHeaders {
  margin-top: 30px;
  font-size: 12px;

}

.sideBody {
  font-size: 23px;
}

.bodyHorizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.text {
  margin-left: 35px;
}